@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');

:root {
  --Pink: hsl(322, 100%, 66%);

  --Very-Pale-Cyan: hsl(192, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsla(209, 11%, 55%);

  /* font family */

    --font-family-open-sans: 'Open Sans', sans-serif;
    --font-family-poppins: 'Poppins', sans-serif;
}
/* * {
  border: 2px solid red;
} */
header {
  background: var(--Very-Pale-Cyan) url("../images/bg-hero-desktop.svg")
    no-repeat 0 / cover;
}
.brand_logo{
  width: 25%;
}
.card {
  --Grayish-Blue-op: hsla(209, 11%, 55%, 0.075);

  box-shadow: 2px 2px 10px var(--Grayish-Blue-op),
    -2px -2px 10px var(--Grayish-Blue-op);
  border-radius: 12px;
  
}
.row {
  margin: 0;
  padding: 0;
}
.h-title,
.card-title {
  color: var(--Very-Dark-Cyan);
  font-family: var(--font-family-open-sans);
  font-weight: 700 ;
}

/* floating card */
.e_card {
   width: 100%;
 
   transform:translateY(50%);
}

.btn {
  --Grayish-Blue-op-btn: hsla(209, 11%, 55%, 0.527);
  border-radius: 30px;
  box-shadow: 2px 2px 10px var(--Grayish-Blue-op-btn);
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
/* navigation section button */
.btn-primary {
  background: var(--Very-Pale-Cyan);
  color: var(--Very-Dark-Cyan);
  padding: 6px 16px;
}
.btn-primary:hover {
  background: hsla(192, 100%, 96%, 0.7);
  color: hsla(192, 100%, 9%, 0.603);
}

/* header section content button */
.btn-secondary {
  background: var(--Pink);
  color: var(--Very-Pale-Cyan);
  padding: 12px 32px;
}
.btn-secondary:hover,
.btn-success:hover {
  background: hsla(322, 100%, 66%, 0.7) !important;
}

/* floating card button */
.btn-success {
  background: var(--Pink);
  color: var(--Very-Pale-Cyan);
  padding: 16px 48px;
}

/* header paragraph */
.h-content {
  color: var(--Very-Dark-Cyan);
  font-family: var(--font-family-poppins);
}

/* card paragraph */
.card-content {
  color: var(--Grayish-Blue);
  font-family: var(--font-family-poppins);
}

/* footer section start */
.fh {
  /* height: 35%; */
  padding-top: 10rem;
  background-color: var(--Very-Dark-Cyan);
  color: white;
}

li {
  list-style-type: none;
}
li a, div a {
  color: var(--Very-Pale-Cyan);
}
li a:hover, div a:hover{
    color: var(--Very-Pale-Cyan);
    cursor: pointer;
}
.gap {
  gap: 10px;
  margin-bottom: 10px;
}
.gap > p {
  margin-bottom: 0;
}

.social_icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--Very-Pale-Cyan);
  border-radius: 50%;
}
.social_icon:hover  {
    border: 1px solid var(--Pink);
    cursor: pointer;
    color: var(--Pink);
 
}

li .s-link:hover{
    color: var(--Pink);
}
/* footer section end */
@media (min-width: 768px)
{
  .e_card {
    width: 60%;
  
    transform:translateY(50%);
 }
 .img {
  width: 20rem;
}
}
